@model List<User>

@foreach(var doctor in Model){
    <chatnowcard>
        <profilephoto>
            @if(doctor.ProfilePicture == null)
            {
                <img src="/img/doctor.png" />
            } else{
                <img src="@doctor.ProfilePicture" />
            }
        </profilephoto>
        <profiledescription>
            <h4>Dr @doctor.FirstName @doctor.LastName</h4>
            <p>Specialty: @doctor.Specialisation</p>
            <p>@doctor.Rating% Rating</p>
            <p>@doctor.UserID</p>
        </profiledescription>
        <chatbutton><a class="chatbutton" asp-controller="Chat" asp-action="NewConnection" asp-route-doctorId="@doctor.UserID">Chat</a></chatbutton>
        @* // when clicked
        // > set doctor unavailable
        // > add chat to db
        // > send user to chatroom
        // >  *@
    </chatnowcard>
}