@model List<User>

@foreach(var doctor in Model){
    <chatnowcard>
        <profilephoto>
            @if (doctor.ProfilePicture == null)
            {
                <img src="/img/doctor.png" />
            }
            else
            {
                <img src="@doctor.ProfilePicture" />
            }
        </profilephoto>
        <profiledescription>
            <h4>Dr. @doctor.FirstName @doctor.LastName</h4>
            <div class="doctor-info">
                <div class="specialty">
                    <p> @doctor.Specialisation</p>
                </div>
                <div class="rating">
                    <p><i class="fas fa-thumbs-up"></i> @doctor.Rating% </p>
                </div>
            </div>

        </profiledescription>
        <chatbutton><a class="chatbutton" asp-controller="Chat" asp-action="NewConnection" asp-route-doctorId="@doctor.UserID">CHAT</a></chatbutton>
        @* // when clicked
        // > set doctor unavailable
        // > add chat to db
        // > send user to chatroom
        // >  *@
    </chatnowcard>
}