<link rel="stylesheet" href="~/css/connectcard.css" asp-append-version="true" />

<connectcontainer>
    <connectheader>
        @* <header>head</header> *@
        @{var logo = "/img/" + @ViewBag.Doctors[0].Specialisation + ".png";}
        <specialtyicon><img src="@logo" /></specialtyicon>
        <specialtytitle>@ViewBag.Doctors[0].Specialisation</specialtytitle>
    </connectheader>
    <cardcontainer>
        @foreach(var doctor in ViewBag.Doctors){
            @for(int i=0; i<6; i++){
            <cardouter>
                <cardtop>
                    <profilephoto>
                        @if(doctor.ProfilePicture == null)
                        {
                            <img src="/img/doctor.png" />
                        } else{
                            <img src="@doctor.ProfilePicture" />
                        }
                    </profilephoto>
                </cardtop>
                <cardbottom>
                    <profiledescription>
                        <h4>Dr @doctor.FirstName @doctor.LastName</h4>
                        @* <p>Specialty: @doctor.Specialisation</p> *@
                        <p>@doctor.Rating% Rating</p>
                    </profiledescription>
                    <button class="registerbutton">Connect</button>
                </cardbottom>
            </cardouter>
            }
        }
    </cardcontainer>
</connectcontainer>