<link rel="stylesheet" href="~/css/connectcard.css" asp-append-version="true" />

<connectcontainer>
    <connectheader>
        @* <header>head</header> *@
        @{var logo = "/img/" + @ViewBag.Doctors[0].Specialisation + ".png";}
        <specialtyicon><img src="@logo" /></specialtyicon>
        <specialtytitle><h2>@ViewBag.Doctors[0].Specialisation</h2></specialtytitle>
    </connectheader>
    <cardcontainer>
        @foreach(var doctor in ViewBag.Doctors){
            @* @for(int i=0; i<6; i++){ *@
            <cardouter>
                <cardtop>
                    <profilephoto>
                        @if(doctor.ProfilePicture == null)
                        {
                            <img src="/img/doctor.png" />
                        } else{
                            <img src="@doctor.ProfilePicture" />
                        }
                    </profilephoto>
                </cardtop>
                <cardbottom>
                    <profiledescription>
                        <h4>Dr. @doctor.FirstName @doctor.LastName</h4>
                        @* <p>Specialty: @doctor.Specialisation</p> *@
                        <div class="rating">
                            <p><i class="fas fa-thumbs-up"></i> @doctor.Rating% </p>
                        </div>
                    </profiledescription>
                    <button class="connectbutton">Connect</button>
                </cardbottom>
            </cardouter>
            @* } *@
        }
    </cardcontainer>
</connectcontainer>
