@{
    ViewData["Title"] = "Home";
    String[] specialties = { "Internal Medicine", "Pediatrics", "Psychiatry", "Surgery", "OB/GYN" };
    String[] imagepaths = { "InternalMedicine.png", "Pediatrics.png", "Psychiatry.png", "Surgery.png", "OBGYN.png" };
}
<link rel="stylesheet" href="~/css/homepage.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/card.css" asp-append-version="true" />

<banner>
    <bannertext>
        Your Health,<br />Our Connection
        <subtitle>Find Your Perfect Doctor Match</subtitle>
    </bannertext>
    <img src="/img/banner-image.png" class="banner-image" />
</banner>

<specialtyselection>
    <specialtygrouplabel><h2>Find a doctor or Specialty</h2></specialtygrouplabel>
    <specialtyselectionicons>
        @foreach (int i in Enum.GetValues(typeof(SpecialisationType)))
        {
            <a asp-controller="Home" asp-action="Doctors" asp-route-specialty="@Enum.GetName(typeof(SpecialisationType), i)">
                <specialtygroup>
                    @{var logo = "/img/" + @Enum.GetName(typeof(SpecialisationType), i) + ".png";}
                    <specialtyicon><img src="@logo" /></specialtyicon>
                    <specialtylabel><h4>@Enum.GetName(typeof(SpecialisationType), i)</h4></specialtylabel>
                </specialtygroup>
            </a>
        }
    </specialtyselectionicons>
</specialtyselection>

<chatnowoutercontainer>
    <specialtygrouplabel><h2>Available Doctors</h2></specialtygrouplabel>
    <chatnowinnercontainer>
        @if (@ViewBag.Doctors.Count == 0)
        {
            <p>No doctors available.</p>
        }
        else
        {
            <partial name="ChatCards.cshtml" model="ViewBag.Doctors"></partial>
        }
    </chatnowinnercontainer>
</chatnowoutercontainer>
